
###> symfony/framework-bundle ###
src/.env.local
src/.env.local.php
src/.env.*.local
src/config/secrets/prod/prod.decrypt.private.php
src/public/bundles/
.idea/
src/vendor
src/var
src/migrations
provisionning/logs
###< symfony/framework-bundle ###
